.activity-container {
    display: flex;
    width: 100%;
    min-height: 200px;
    margin: 20px 0;
}
.activity-card {
    padding: 20px;
    display: flex;
    flex-direction: column;
    flex-basis: 70%;
    justify-content: space-around;
    background-color: #39c9de94;
    border-radius: 20px 0 0 20px;
    backdrop-filter: blur(20px);
}

.activity-card:hover{
    box-shadow: #3c4550 0 0 20px 10px 

}

.activity-line {
    display: flex;
    align-items: baseline;
}

.activity-coupon {
    flex-basis: 30%;
    display: flex;
    flex-direction: column;
    padding: 20px;
    color: #fff;
    justify-content: space-around;
    border-radius: 0 20px 20px 0;

}

.content-header {
    display: flex;
    justify-content: space-between;
}