.content-header {
    display: flex;
    justify-content: space-between;
}
.content-refund{
    /* box-shadow: 0px 0px 20px 9px #999999; */
    margin-left: 20%;
    width: 600px;
    /* height: 60%; */
    margin-top: 50px;
    background-color: #6998a9bf;
    border-radius: 30px;
    backdrop-filter: blur(20px);
    padding-bottom: 5px;
    margin-right: 60px;
}

.refund-head{
   padding-top: 30px;
   /* background-color: #efccbc; */
   background-color:#36d3bd85;
   border-top-width: 30px;
   margin-top: 0px;
   border-radius: 30px 30px 0 0;
   font-size: 30px;
   color: #ffffff;
   /* align-content: center; */
   padding-left: 40px;
   padding-bottom: 10px;
}
    
.div1{
    padding-left: 20px;
    color: #fcf8e3;
    height: 60px;
    margin-top: 30px;
    margin-bottom: 30px;
}
    
.refund-txt{
    font-size: x-large;
    padding: 20px;
}
    
.refund-propo{
    font-size: xx-large;
}
    
