* {
    padding: 0;
    margin: 0;
    font-size: 14px;
}
html {
    height: 100%;
}
body {
    height: 100%;
}
input {
    width: 250px;
    height: 25px;
    border: 0;
}
ul {
    list-style: none;
}
#user-name{
    color: darkblue;
}
.card {
    background: #5aafbd61;
    border-radius: 20px;
    backdrop-filter: blur(20px);
    color: #a1afa6;
}
.card:hover{
    box-shadow: #3c4550 0 0 20px 10px 
}
.title {
    font-size: 24px;
}
.avatar-lg {
    width: 55px;
    height:55px;
    border-radius: 50%;
}
.avatar-sm {
    width: 40px;
    height:40px;
    border-radius: 50%;
}
.label {
    padding: 5px;
    color: #fff;
    border-radius: 10px!important;
    margin: 0 20px;
}
/**
    颜色相关
 */
.gray-text {
    color: #e2eff1;
}
.dark-text {
    color: #666;
}
.error-text {
    color: #ed5565;
}
.primary-text {
    color: #1caf9a;
    font-size: unset;

}
.primary-bg {
    background: #2992899e;
    backdrop-filter: blur(20px);
}
.error-bg {
    background: #ed5565;
}
/**
    form相关
 */


/**
    导航相关
 */
.main-container {
    display: flex;
    height: 100%;
}
.content-container {
    background-image: url("../images/sxsxsx.jpg");
    flex: 1;
    height: 100%;
    /*background: #e4e7ea;*/
    padding: 20px;
    overflow-y: scroll;
}
.content-item {
    margin-bottom: 30px;
}
.content-card {
    padding: 20px;
    margin: 10px;
}
.nav-left-container {
    width: 250px;
    height: 100%;
    background: #1d2939;
    padding: 30px 20px;
}
.nav-top-container {
    width: 100%;
    background: #1d2939;
    padding: 5px 20px;
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
}
.nav-user-container {
    padding: 0px 5px 0px 5px;
    text-align: center;
    color: #fff;
}
.nav-container .title {
    color: #fff;
}
.nav-logo {
    font: 700 30px "Comic Sans MS";
    font-family: fantasy;
    letter-spacing: 3px;
    color: #0ecdac;
}

.notice {
    visibility: hidden;
    margin-left: 40px;
    color: rgba(255, 4, 84, 0.82);
    font-size: 12px;
}

