body{
	background: linear-gradient(to bottom right, #1caf9a, #1caaaa);
}

#main-container {
	background: url("../images/sxsxsx.jpg") top center no-repeat;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-size: cover;
}
#login-container {
	/*background: rgba(0, 0, 0, 0.6);*/
	border-radius: 20px;
	padding: 20px;
	width: 400px;
}

#login-form {
	margin-top: 35px;
}

.input-interval {
	margin: 15px 0;
}