.content-header{
    display: flex;
    background-color: #7080906b;
    border-radius: 20px;
}

.movie-basic-info {
    flex: 1;
    padding: 0 20px;
    height: 320px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: #d9edf7;
}

.movie-operations {
    margin-top: auto;
}

#movie-img {
    height: 340px;
    width: 225px;
    border-radius: 20px 0 0 20px;
}

#movie-description {
    max-height: 80px;
    min-height: 40px;
}

.seesion-container {
    margin-top: 30px;
    background-color: whitesmoke;
}

.statistic-container {
    margin-top: 30px;
    padding: 20px;
    display: flex;
    justify-content: center;
}