<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>电影</title>
    <!-- Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css"/>
    <!-- font-asesome图标库 -->
    <link rel="stylesheet" type="text/css" href="/css/font-awesome.min.css"/>

    <!-- 引入css样式文件 -->
    <link rel="stylesheet" type="text/css" href="/css/common.css"/>
    <link rel="stylesheet" type="text/css" href="/css/userHome.css"/>

    <!-- 引入js脚本文件 -->
    <!-- jquery -->
    <script src="/js/jquery.js"></script>
    <!-- Bootstrap 核心 JavaScript 文件 -->
    <script src="/js/bootstrap.js"></script>
    <script src="/js/request.js"></script>
    <script src="/js/userHome.js"></script>

</head>
<body>
    <div class="nav-top-container">
        <div class="nav-logo title">NJU-Se电影购票系统</div>
        <ul class="nav nav-pills">
            <li role="presentation" class="active"><a href="#">首页</a></li>
            <li role="presentation"><a href="/user/movie">电影</a></li>
        </ul>
        <div class="btn-group">
            <button class="nav-user-container btn dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <img class="avatar-sm" src="/images/defaultAvatar.jpg" />
                <span class="gray-text" style="vertical-align: middle" id="user-name">&nbsp;<span class="caret"></span></span>
            </button>
            <ul class="dropdown-menu">
                <li><a href="/user/buy">电影票</a></li>
                <li><a href="/user/member">卡包</a></li>
                <li><a href="/user/record">消费记录</a></li>
                <li id="logout"><a href="#">登出</a></li>
            </ul>
        </div>
    </div>
    <div class="rows">
        <div class = "col-md-1"></div>
        <div class="content-container col-md-10 row">
            <div class="movie-contianer col-md-8">
                <p class="title primary-text">热映电影</p>
                <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                    <!-- Indicators -->
                    <ol class="carousel-indicators" id="movie-choose">

                    </ol>

                    <!-- Wrapper for slides -->
                    <div class="carousel-inner movie-fshow" role="listbox" id="movie-show">


                    </div>

                    <!-- Controls -->
                    <a class="left carousel-control " href="#carousel-example-generic" role="button" data-slide="prev" style="border-radius: 20px">
                        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="right carousel-control " href="#carousel-example-generic" role="button" data-slide="next" style="border-radius: 20px">
                        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
            <div class="statistic-container col-md-4">
                <p class="title primary-text">票房统计</p>
                <ul class="top-sell-list card hgt" id = "test">
                    <div class="statistic-item">
                        <span>电影1</span>
                        <span class="error-text">99</span>
                    </div>
                    <div class="statistic-item">
                        <span>电影1</span>
                        <span class="error-text">99</span>
                    </div>
                    <div class="statistic-item">
                        <span>电影1</span>
                        <span class="error-text">99</span>
                    </div>
                </ul>
                <p class="title primary-text">最受欢迎</p>
                <ul class="top-expectation-list card" id = "test">
                    <div class="statistic-item">
                        <span>电影1</span>
                        <span class="error-text">99</span>
                    </div>
                    <div class="statistic-item">
                        <span>电影1</span>
                        <span class="error-text">99</span>
                    </div>
                    <div class="statistic-item">
                        <span>电影1</span>
                        <span class="error-text">99</span>
                    </div>
                </ul>
            </div>
        </div>
        <div class="col-md-1"></div>
    </div>
</body>
</html>