<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.cinema.data.management.HallMapper">
    <select id="selectAllHall" resultMap="Hall">
        select * from hall
    </select>
    <select id="selectHallById" resultMap="Hall">
        select * from hall where id = #{hallId}
    </select>
    <insert id="addNewHall" parameterType="com.example.cinema.po.Hall"
            useGeneratedKeys="true" keyProperty="id">
        insert into hall(hall_name,hall_column,hall_row)
        values (#{name},#{column},#{row})
    </insert>
    <update id="updataHall" parameterType="com.example.cinema.po.Hall">
        update hall set hall_name=#{name},hall_column=#{column},hall_row=#{row} where id=#{id}
    </update>
    <delete id="deleteHall">
        delete from hall where id=#{id}
    </delete>
    <resultMap id="Hall" type="com.example.cinema.po.Hall">
        <result column="id" property="id"></result>
        <result column="hall_name" property="name"></result>
        <result column="hall_column" property="column"></result>
        <result column="hall_row" property="row"></result>
    </resultMap>

</mapper>